@charset "utf-8";

/*body*/

body{
	
	margin:0px;
	font-family: Rubik, sans-serif; 
	background-color: lightgrey;

}

a{
	color: rgba(152,0,0,1.00);
	text-decoration: none;
}

section a:visited{
	color: rgba(255,0,1,1.00)
}

a:hover{
	color:rgba(152,0,0,1.00);
}

/*Sezione della navBar*/

nav{

	top: 0;
	left: 0;
	right: 0;
	padding-top: 20px;
	height: 80px;
	position: absolute;
	z-index: 1;


}

#FlexCont{
	
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:5px 40px;
	
}

.FlexItem{
	
	font-family: 'Arial Rounded MT', sans-serif;
	color: white;
	font-size: 1.7em;
	text-decoration:none;
	text-transform: uppercase;

}


/*Sezione dell'header*/

header{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	height:550px;
	background-image: url(ets2_20210219_231941_00.png);
	background-size: cover;
	background-repeat: no-repeat;

}

#overlay{
	
	position: absolute;
	top:-0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .3);

}

#Desc1{
	
	position: relative;
	text-align: center;
    color:aliceblue;
	padding-right:70px;
	z-index: 1;

	
}

#Button:hover{
	background-color:rgba(82,90,113,.8);
}

 #Button{
	
	font-size:250%;
	display: block;
	width: 25%;
	background-color:rgba(165,165,165,.8);
	color:aliceblue;
	border-radius:100px; 
	padding:5px 5px 5px 5px;
	text-align: center;
	position: absolute;
	left:37.5%
	
}


#menu {
  display: none;
}

#menu div {
	
  width: 25px;
  height: 3px;
  background-color: rgba(152,0,0,1.00);
  margin: 5px 0;

}


/*Section*/


#Logo{
	display: flex;
	justify-content: center;

}

header p{
	
	padding-top:5%;
}


#Title{
	
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}


.Subtitle {
	
	padding-left:30px;
	color: rgba(152,0,0,1.00);
	font-size: 2em;
	font-weight: bold;
	
}

section{
	margin-top: 40px;
	position: relative;
	
}

#MainDescription p{
	
	padding-left: 20px;
	padding-right:20px;
}

.Description{
	
	font-size: 1.5em;
	
}


#Photo-Separator{
	
	text-align: center;

}


#FlexCont2, #FlexCont3, #FlexCont4{
	
	
	display: flex;
	justify-content: space-between;
		
}

#Photo-Gallery{
	
	padding-right: 50px;
	padding-left: 50px;
}

#Photo-Gallery img{
		
		width:630px;
		height: 300px;
		border: 5px solid black;
		border-radius: 10px;
	}

/*Footer*/

footer{
	font-family: Ubuntu, sans-serif;
	display:flex;
	justify-content: space-around;
	align-content: center;
	height: 80px;
	background-color: black;
	color: white;
	
}

#Instragam, #Youtube, #Trucksbook{
	
	padding-top:15px;
}



/*Adattamenti per mobile*/

@media(max-width: 1290px){
	
	
	#Photo-Gallery img{
		
		width: 500px; /*Riduco la dimensione delle foto*/
			
	}	
	
}


/*Display con risoluzione massima 1000px*/

@media(max-width: 1000px){ /*Regolazione dell'header e navbar per display più piccoli di 1000px */
	
	body{
		
		font-size:10px;
	}
	
	nav img{
		
		width: 75%;
	}
	
	nav a{
		
		left: 0px;
		bottom:-33px;
		
	}
	
	header p{
		font-size:14px;
		text-align: center;
		padding-right:auto;
		padding-left: auto;
	}
	
}
	

	/*Section fotografica*/
	/*Per display con larghezza inferiore a 1000px, il flex layout diventa in colonna disponendo foto in verticale*/

@media(max-width: 1000px){
	
	#FlexCont2,#FlexCont3, #FlexCont4{
		
		flex-direction: column;
		justify-content: space-between;
		align-content: center;
	}
	
	.FlexItem3 {
		
		width: 450px;       /*Riduco ulteriormente le foto e allineo a centro il testo della didascalia*/
		text-align:center;
		
	}
	
	/*Aggiustamenti vari alle foto*/
	
	#Desc1 {
		
		position: absolute;
		text-align: center;
		
	}
	
	
}

@media (max-width: 1000px) {
	
 /*Dispongo un menù a tendina*/
	
  #FlexCont .FlexItem {
    display: none;
  }

  #menu {
    display: block;
  }
}

/*Aggiustamenti per display ancora più piccoli*/

@media(max-width:580px){
	
	
	
	#Photo-Gallery p{
		
		text-align: left;
		font-size: 8px;
		
	}
	
	
	#Photo-Gallery img{
		
		margin-left: -200px;
		width: 70%;
	}
	
	#Youtube, #Instragam{
		width: 50%;
	}
	
	footer p{
		
		width: 100%;
		text-size:6px;
	}
	
	
}












